/*CSS for the controller debug panel*/
.button, .axis, .controllers {
margin: 2px;
padding: 2px;
  border-radius: 5px;
  border: 1px solid #444;
  background-size: 0% 0%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.pressed {
  border: 1px solid white;
  background-color: grey;
  color: white;
}
